#about1 #company {
    padding: 50px;
    text-align: center;
}
#about1 #company #large {
    font-size: large;
    color: #be1f24;
}
#stats {
    padding: 5vh 5vw;
}
#stats #h2 {
    text-align: center;
    width: 100%;
}
#about1 #stats #stats-box {
    display: flex;
    justify-content: space-evenly;
}
#about1 #stats .card {
    width: 18%;
    margin: 0px 1%;
    background: radial-gradient(#FFF, #DDD);
    border: 3px outset #be1f24;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #222;
}
#about1 #stats .card .number {
    line-height: 11vh;
    vertical-align: middle;
    font-size: 7vh;
    width: 100%;
    text-align: center;
}
#about1 #stats .card .category {
    vertical-align: middle;
    width: 100%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
#about1 #stats .card .category h3 {
    margin: 1vh 0;
}
#about1 #stats .card .category p {
    margin: 1vh 0;
}
#about1 #partners {
    width: 100%;
    color: #FFF;
    background-color: #222;
    box-sizing: border-box;
}
#about1 #partners h2 {
    text-align: center;
}
#about1 #partners #partner-row {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
#about1 #partners #partner-row .partner {
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    transition: 0.5s;
    border-left: 1px solid #be1f24;
}
#about1 #partners #partner-row .partner:hover {
    background-color: #444;
}
#about1 #clients {
    background: #FFF;
    box-shadow: 0 0 10px inset #000;
    padding: 50px 15%;
}
#about1 #clients h2 {
    text-decoration: solid underline #be1f24;
}
#about1 #clients h3 {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    text-decoration: solid underline #be1f24;
}
#about1 #clients #client-photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#about1 #clients #client-photos .client {
    max-width: 25%;
}
#about1 #clients #client-photos .client img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#about1 #clients #client-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 4px solid #be1f24;
    position: relative;
    padding-top: 50px;
}
#about1 #clients #client-names .circle {
    top: -12px;
    right: 0;
    background: #be1f24;
}
#about1 #clients #client-names p {
    display: inline;
    line-height: 50px;
    min-width: 20%;
    vertical-align: middle;
    text-align: center;
}