#bomax {
    padding: 5vh 5vw;
    overflow: hidden;
    background: #FFF;
}
#bomax h1 {
    text-align: center;
    text-decoration: underline #be1f24;
}
#bomax #intro p {
    text-align: center;
    padding: 5vh 5wh;
}
#bomax #photo {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 5vh auto;
}
#bomax #photo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#bomax #services {
    padding: 0 10%;
}
#bomax #services h2 {
    text-align: center;
}
#bomax #row {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    width: 100%;
    padding: 5vh 5vw;
    box-sizing: border-box;
    flex-wrap: wrap;
}
#bomax #row h2 {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}
#bomax #row .box {
    width: 40%;
    margin: 5%;
    background: radial-gradient(#FFF, #DDD);
    border: 3px outset #be1f24;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #222;
    padding: 5px;
    text-align: center;
    display: -webkit-box;
    display: flex;
}
#bomax #quote {
    text-align: center;
}
#bomax #row .box p {
    align-self: center;
    text-align: center;
}
#bomax #experience {
    text-align: center;
}
#bomax #experience table {
    text-align: left;
    margin: auto;
}
#bomax #experience table * {
    border: 1px solid #000;
    padding: 5px;
}
@media screen and (min-width: 768px) {
    #bomax #services {
        padding: 0 15%;
    }
    #bomax #photo {
        width: 90%;
    }
    #bomax #gallery #wrap .photo {
        width: 33%;
        height: 30vh;
    }
    #bomax #row .box {
        width: 28%;
        margin: 2%;
    }
}
@media screen and (min-width: 992px) {
    #bomax .img {
        width: 60%;
    }
    #bomax #photo {
        width: 80%;
    }
    #bomax #services {
        padding: 0 20%;
    }
    #bomax #gallery #wrap .photo {
        width: 25%;
    }
    #bomax #row .box {
        width: 15%;
        margin: 2.5%;
    }
}