#news1 {
    position: relative;
    padding: 5vh 10%;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
    background: linear-gradient(#EEE, #AAA);
    min-height: 100vh;
    box-sizing: border-box;
}
#news1 h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 10vh;
}
#news1 .expand {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
    background: linear-gradient(#EEE, #AAA);
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #555;
    cursor: pointer;
    overflow: hidden;
}
#news1 .expand:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#EEE));
    background: linear-gradient(#AAA, #EEE);
}
#news1 .expand h2 {
    display: inline;
}
#news1 .expand i {
    float: right;
    font-size: xx-large;
}
#news1 #gallery {
    display: none;
}
#news1 #gallery #wrap {
    width: 100%;
    margin: 5vh 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
#news1 #gallery #wrap .photo {
    -webkit-box-flex: 50%;
    flex: 50%;
    height: 30vh;
    border: 2px solid #be1f24;
    box-sizing: border-box;
}
#news1 #gallery #wrap .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#news1 #news {
    display: none;
    margin: 5vh 0;
    position: relative;
}
#news1 #news .news {
    border-top: 4px solid #be1f24;
    padding: 20px 0;
    margin: auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}
#news1 #news .news .circle {
    top: -12px;
    background: #be1f24;
}
#news1 #news .news:nth-child(odd) .circle {
    left: 0;
}
#news1 #news .news:nth-child(even) .circle {
    right: 0;
}
#news1 #news > .circle {
    bottom: -8px;
    left: 0;
    background: #be1f24;
}
#news1 #news .news:last-child {
    border-bottom: 4px solid #be1f24;
}
#news1 #news .news:hover {
    background: #FFF;
}
#news1 #news .news .left {
    -webkit-box-flex: 100%;
    flex: 100%;
}
#news1 #news .news .left .day {
    margin: auto;
    border: 1px solid #000;
    font-size: xx-large;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #222;
    text-align: center;
    background: #FFF;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
#news1 #news .news:hover .left .day {
    background: #EEE;
}
#news1 #news .news .left .month {
    width: 100%;
    text-align: center;
    font-size: large;
    padding: 20px 0;
}
#news1 #news .news .right {
    -webkit-box-flex: 100%;
    flex: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
#news1 #press {
    display: none;
}
#news1 #press .release {
    margin: 5vh 0;
    border: 2px solid #be1f24;
    background: radial-gradient(#FFF, #DDD);
    padding: 10px;
}
#news1 #downloads {
    display: none;
    padding: 5vh 5vw;
}
@media screen and (min-width: 768px) {
    #news1 #gallery #wrap .photo {
        -webkit-box-flex: 33%;
        flex: 33%;
    }
    #news1 #news .news .left {
        -webkit-box-flex: 30%;
        flex: 30%;
    }
    #news1 #news .news .right {
        -webkit-box-flex: 70%;
        flex: 70%;
    }
}
@media screen and (min-width: 992px) {
    #news1 {
        padding: 10vh 20%;
    }
    #news1 #gallery #wrap .photo {
        -webkit-box-flex: 25%;
        flex: 25%;
    }
    #news1 #news .news .left {
        -webkit-box-flex: 20%;
        flex: 20%;
    }
    #news1 #news .news .right {
        -webkit-box-flex: 80%;
        flex: 80%;
    }
}