#product1 {
    min-height: 50vh;
    background: #DDD;
}
#product1 #toggles {
    height: 10vh;
    display: -webkit-box;
    display: flex;
}
#product1 #toggles a {
    -webkit-box-flex: 25%;
    flex: 25%;
    border: 1px solid #000;
    background: radial-gradient(#FFF, #DDD);
    height: 100%;
    box-sizing: border-box;
    line-height: 10vh;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
#product1 #toggles a:hover {
    background: radial-gradient(#DDD, #BBB);
}
#product1 #content > div {
    display: none;
    padding: 5vh 5vw;
}
#product1 #content > div:first-child {
    display: block;
}
#product1 #content #about {
    overflow: hidden;
}
#product1 #content #about img {
    float: right;
    width: 30%;
    border: 5px inset #be1f24;
    margin: 5vh 5vw;
}
#product1 #content #about h2 {
    padding: 5vh 0 0;
    -webkit-text-decoration: solid underline #be1f24;
    text-decoration: solid underline #be1f24;
}
#product1 #content #specifications #wrap {
    display: -webkit-box;
    display: flex;
}
#product1 #content #specifications .spec {
    -webkit-box-flex: 1;
    flex: auto;
    text-align: center;
    padding: 5vh 5vw;
}
#product1 #content #specifications .spec i {
    font-size: xx-large;
    color: #be1f24;
}
#product1 #content #pricing {
    padding: 5vh 5vw;
}
#product1 #content #pricing #wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
#product1 #content #pricing #wrap .option {
    width: 30%;
    border: 2px solid #be1f24;
    background: #FFF;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px #222;
}
#product1 #content #gallery {
    padding: 5vh 5vw;
}
#product1 #content #gallery #wrap {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
#product1 #content #gallery #wrap .photo {
    -webkit-box-flex: 25%;
    flex: 25%;
    height: 30vh;
    flex-grow: 0;
    flex-shrink: 0;
    border: 2px solid #be1f24;
    box-sizing: border-box;
}
#product1 #content #gallery #wrap .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#product2 {
    padding: 5vh 5vw;
    width: 80%;
    margin: auto;
}
#product2 h2 {
    -webkit-text-decoration: solid underline #be1f24;
    text-decoration: solid underline #be1f24;
}
#product2 #about #img {
    float: right;
    width: 40%;
    height: 50vh;
    border: 5px inset #be1f24;
    margin: 20px;
    position: relative;
    box-sizing: border-box;
}
#product2 #about #img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#product2 #about #img #toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: xx-large;
    cursor: pointer;

}
#product2 #about #img #toggle:hover {
    color: #DDD;
}
#product2 #gallery {
    display: none;
    padding: 5vh 5vw;
}
#product2 #gallery #wrap {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
#product2 #gallery #wrap .photo {
    -webkit-box-flex: 25%;
    flex: 25%;
    height: 30vh;
    border: 2px solid #be1f24;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}
#product2 #gallery #wrap .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#product2 #specifications {
    width: 100%;
}
#product2 #specifications #wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
#product2 #specifications .spec {
    width: 30%;
    text-align: center;
    padding: 5vh 5vw;
    background: radial-gradient(#FFF, #DDD);
    border: 2px solid #be1f24;
    box-shadow: 2px 2px 5px #222;
}
#product2 #specifications .spec i {
    font-size: xx-large;
}